appdirs==1.4.4
astroid==2.4.2
bidict==0.21.2
click==7.1.2
colorama==0.4.4
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-Env==2.0.0
Flask-Login==0.5.0
Flask-MySQL==1.5.1
Flask-MySQLdb==0.2.0
Flask-SocketIO==5.0.0
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mysql==0.0.2
mysqlclient @ file:///C:/mysqlclient-1.4.6-cp39-cp39-win_amd64.whl
pylint==2.6.0
PyMySQL==0.10.1
python-dotenv==0.15.0
python-engineio==4.0.0
python-socketio==5.0.3
six==1.15.0
toml==0.10.2
virtualenv==20.2.1
virtualenvwrapper-win==1.2.6
Werkzeug==1.0.1
wrapt==1.12.1
