{% extends 'sablon.html' %}
{% block title %} Cautare linkuri {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col md-12 ">
                <a href="/linkuri" class="btn btn-success btn-xs float-right" style="background-color: #444444; color: lightgray" onclick="return redirect(url_for('linkuri'))">Inapoi la lista</a>
                <table class="table table-bordered table-dark" style="color: lightgray" style="background-color: #444444; color: lightgray">
                        <thead >
                            <tr>
{#                                <th scope="col" style="text-align: center">id</th>#}
                                <th scope="col" style="text-align: center">Topic</th>
                                <th scope="col" style="text-align: center">Link</th>
                                <th scope="col" style="text-align: center">Descriere</th>
                                <th scope="col" style="text-align: center" width="200px">Actiune</th>
                            </tr>
                        </thead>
                    {% for row in data %}
                        <tbody>
{#                                <td scope='row'>{{ row.0 }}</td>#}
                                <td scope='row' style="background-color: #555555; color: lightgray">{{ row.1 }}</td>
                                <td scope='row' style="background-color: #555555; color: lightgray">{{ row.2 }}</td>
                                <td scope='row' style="background-color: #555555; color: lightgray">{{ row.3 }}</td>
                                <td scope='row' style="background-color: #555555; color: lightgray">
                                            <a href="/editeazalink/{{ row.0 }}" class="btn btn-warning btn-xs" style="background-color: #444444; color: lightgray" data-toggle="modal" data-target="#modaleditlink{{row.0}}" >Editare</a>
                                            <a href="/deletelink/{{ row.0 }}" class="btn btn-danger btn-xs" style="background-color: #444444; color: lightgray" onclick="return confirm('Sunteti sigur(a) ca doriti stergerea datelor?')">Sterge</a>
                                </td>
                {# Modal EDITEAZA #}
                                 <div id="modaleditlink{{ row.0 }}" class="modal fade" style="background-color: #444444; color: lightgray" role="dialog">
                                       <div class="modal-dialog" style="background-color: #444444; color: lightgray">
                                          <div class="modal-content" style="background-color: #444444; color: lightgray">
                                             <div class="modal-header" style="background-color: #444444; color: lightgray">
                                                 <h4 class="modal-title">Editeaza</h4>
                                             </div>

                                             <div class="modal-body" style="background-color: #444444; color: lightgray">
                                                <form action="{{ url_for('editeazalink') }}" method="POST" style="background-color: #444444; color: lightgray">
                                                   <div class="form-group" style="background-color: #444444; color: lightgray">
                                                      <label style="background-color: #444444; color: lightgray">Topic :</label>
                                                      <input type="hidden" style="background-color: #444444; color: lightgray" name="id" value="{{ row.0 }}">
                                                      <input type="text" style="background-color: #555555; color: lightgray" class="form-control" name="topic" value="{{ row.1 }}">
                                                   </div>
                                                   <div class="form-group" style="background-color: #444444; color: lightgray">
                                                      <label style="background-color: #444444; color: lightgray">Link :</label>
                                                      <input type="text" class="form-control" style="background-color: #555555; color: lightgray" name="link" value="{{ row.2 }}">
                                                   </div>
                                                   <div class="form-group" style="background-color: #444444; color: lightgray">
                                                      <label style="background-color: #444444; color: lightgray">Descriere :</label>
                                                      <input type="text" style="background-color: #555555; color: lightgray" class="form-control" name="descriere" value="{{ row.3 }}">
                                                   </div>
                                                   <div class="form-group" style="background-color: #444444; color: lightgray">
                                                      <button class="btn btn-primary" style="background-color: #444444; color: lightgray" type="sbumit">Salveaza modificarile</button>
                                                   </div>
                                                </form>
                                             </div>
                                             <div class="modal-footer" style="background-color: #444444; color: lightgray">
                                                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #444444; color: lightgray" placeholder="Inchide">Inchide</button>
                                             </div>
                                          </div>
                                       </div>
                                </div>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}