{% extends "sablon.html" %}

{% block title %}Logare{% endblock %}

{% block content %}
<div class="container" style="width: 45%">
    <div class="row">
            <div class="col md-12 " >

                <h1 style="background-color: #444444; color: lightgray; text-align: center"><span style="background-color: #444444; color: #c69500; text-align: center">Accounts</span> <span style="background-color: #444444; color: #117a8b; text-align: center">MEMO</span></h1>
                    <br>
                    <h3 style="background-color: #444444; color: lightgray; text-align: center"> Un mod mai usor de gestiune a informatiillor de zi cu zi pe care nu reusesti sa le tii minte  </h3>
            </div>
    </div>
</div>

{% endblock %}